* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1:hsl(212, 45%, 89%);
    --color2:hsl(216, 15%, 48%);
    --color3:hsl(218, 44%, 22%);
}

body {
    background-color: var(--color1);
}

main {
    width: 320px;
    height: 80dvh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color:white;
    padding: 20px;
    border-radius: 20px;
}

